@import './custom.scss';

#articles-container {
    background-color: white;
    width: 100%;
    flex-direction: column;
}

#article-card {
    width: 30%;
}

#articles {
    width: 100%;
    flex-wrap: wrap;
}

@media all and (max-width: 950px) {
    #article-card {
        width: 90% !important;
    }
}