@import './custom.scss';

#articles-container {
    background-color: white;
    width: 100%;
    min-height: fit-content;
    // height: 100vh;
    min-height: fit-content;
    flex-direction: column;
    padding: 5vh 0;
}

#article-card {
    width: 30%;
    padding-bottom: 5vh;
}

#articles {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 5vw;
    // height: 80%;
}

.article {
    // background-color: blueviolet;
    width: 48%;
    height: 45vh;
    background-position: center;
    background-size: cover;
    margin: 1%;
    // margin: 5%;
}

@media all and (max-width: 950px) {
    #article-card {
        width: 90% !important;
    }
}