// @import "../node_modules/bootstrap/scss/functions";
// @import “../node_modules/bootstrap/scss/bootstrap.scss”;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Default variable overrides
// $theme-colors: (
//     "primary": #0074d9
// );
// $primary-color: #0000009c;
$primary-color: rgba(0,23,45,.8);
$sec-color: #0d6efd;
$background: rgb(0, 23, 45);

.bg-dark {
    background-color: $primary-color !important;
};

#logo-nav {
    // background-color: aqua;
    background-position: center;
    background-repeat: no-repeat;
    // background-image: url(../assets/logoipsum-logo-34.svg);
    height: 1.5em;
    width: 5em;
    background-size: contain;
}

// .flex-center {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-content: center;
// }

// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

