@import './custom.scss';

#input-container {
    width: 65%; 
    background-color: aqua;
 }
 
 #email-input {
     height: 2.5em;
 }
 
 #email-button {
     height: 2.5em;
     border-radius: 0;
 }

 @media all and (max-width: 950px) {
    #input-container {
        width: unset;
    }
 }