@import './custom.scss';

#gallery-container {
    background-color: rgb(255, 255, 255);
    // height: 100vh;
    min-height: fit-content;
    width: 100%;
    color: rgb(0, 0, 0);
    flex-direction: column;
    padding: 5vh 0;
    // justify-content: space-around;
}

#top-section-container {
    // border: 1px solid black;
    width: 100%;
    display: flex;
    height: fit-content;
    padding-bottom: 10vh;
}

#left-section-gallery {
    width: 33.3%;
    // background-color: aqua;
    // border: solid 1px black;
    height: fit-content;
    justify-content: space-between;
    padding: 5vh 0;
}

#mid-section-gallery {
    width: 33.3%;
    background-color: $background;
    color: white;
    padding: 5%;
    margin: 0 5px;
}

#right-section-gallery {
    width: 33.3%;
    padding: 5vh 0;
    // background-color: aqua;
}

#bottom-section-container {
    width: 100%;

}

.section-image {
    height: 50vh;
    aspect-ratio: 3/4;
    // width: 90%;
    background-position: center;
    background-size: cover;
}

#carousel {
    width: 50vw;
}

.section-container-gallery {
    height: 100%;
}

#image-conatiner {
    flex-direction: column;
    // height: 80vh;
    height: fit-content;
}

#image1 {
    background-image: url('../assets/door.jpg');
}

#image2 {
   background-image: url(../assets/home3.jpg); 
} 

.side-text {
    writing-mode: vertical-lr;
}

@media all and (max-width: 950px) {
    #top-section-container {
        flex-direction: column-reverse;
        align-items: center;
        height: 90vh;
        justify-content: space-evenly;
    }

    #carousel {
        width: 100vw;
    }

    #bottom-section-container {
        flex-direction: column;
    }

    #mid-section-gallery {
        padding: 15vh 5vw;
    }

    .full-width {
        width: 100% !important;
    }

    #right-section-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}