@import './custom.scss';

#bottom-nav-container {
    height: 35vh;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0;
    width: 100%;
}

#head-bottom-nav {
    border: 1px solid white;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: baseline;
}

.nav-column {
    display: flex;
    flex-direction: column;
}

#end-bottom-nav {
    border: 1px solid red;
    width: 100%;
}