@import './custom.scss';

#bottom-nav-container {
    height: 35vh;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0 0 0;
    width: 100%;
}

#head-bottom-nav {
    // border: 1px solid white;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: baseline;
}

.nav-column {
    display: flex;
    flex-direction: column;
}

#end-bottom-nav {
    // border: 1px solid red;
    border-top: solid rgb(82, 82, 82) 1px;
    width: 90%;
    justify-content: space-between;
    padding: 1em;
}

div > span {
    color: rgb(125, 125, 125);
}

@media all and (max-width: 950px) {

    #bottom-nav-container {
        height: 80vh;
        padding: 2em 0 0 0;
    }

    #head-bottom-nav {
        flex-direction: column;
        padding: 0 5vw;
        min-height: fit-content;
        height: 60vh;
    }

    #end-bottom-nav {
        // justify-content: space-between;
        padding: 1em 0;
    }
}